h1, h2{font-weight:bold;}
h2{margin-top:2rem;margin-bottom:1rem;}

.jumbotron{margin-bottom:0;padding:2rem 1rem !important;}

p, ul, ol{font-size:1.2rem;}

ul li{cursor:default;}
ul li + li, ol li + li, ul ul > li:first-child{margin-top:0.7rem;}
ul > li > .link-icon{display:none;}
ul > li:hover > .link-icon{display:inline;}

.use-cases > .title{font-size:1.2rem;font-weight:bold;}
.use-cases > p{margin-top:0.6rem;margin-bottom:1.2rem;}

.entry{font-size:1.2rem;}
.entry + .entry, .entry + ul{margin-top:0.5rem;}
.entry > .term{font-style:italic;font-weight:bold;}
.entry + ul.list-unstyled .col-xs-1, .entry + ul.list-unstyled .col-xs-2{text-align:right;}